.sliderView {
  background-color: white;
}

.dragging {
  background-color: var(--mm-brand-dropping) !important;
}

.edit {
  height: 100vh;
  width: 100%;
  padding: 4px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--mm-mobile-simulator-bg-color);
  box-shadow: 0 0 16px rgba(0, 0, 0, .06);
  position: relative;

  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #f0f2f5;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .3);
    /*border-radius: 5px;*/
  }
}